// wishlink.scss

#heart{
    width: 80%;
    object-fit: cover;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);

}
#ty{
  margin-top: 100px;
}
.wishlist-container {
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .wishlist-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .wishlist-item {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .wishlist-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .wishlist-title {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .wishlist-button {
    background-color: #ff4747;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .wishlist-button:hover {
    background-color: #e53935;
  }
  